/* -------------- STYLE RESET -------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: sans-serif;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------- AUTH STYLES -------------- */
.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.sign-in-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('C:/Users/apurc/Documents/odinReact/photo-tagging/src/images/photo-tagging-image.jpg');
  z-index: 1;
  opacity: 0.25;
  background-repeat: no-repeat;
  background-size: cover;
}

.sign-in-title {
  position: absolute;
  top: 0;
  margin-top: 3rem;
  font-size: 2rem;
  color: rgb(199, 129, 129);
  z-index: 5;

}

.us {
  color: #2777ee;
}

.sign-in-description {
  position: absolute;
  top: 0;
  margin-top: 6.5rem;
  color: rgb(199, 129, 129);
  font-size: 1.2rem;
  letter-spacing: 1px;
  z-index: 5;
}

.sign-in-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  font-size: 1.7rem;
  border-radius: 5px;
  z-index: 5;
}

.sign-in-text {
  letter-spacing: 0.3px;
  color: rgb(199, 129, 129);
}

.sign-in-btn {
  width: 6rem;
  height: 2.5rem;
  border-radius: 10px;
  border: none;
  background-color: #2777ee;
  color: white;
  font-size: 1.2rem;
}

/* -------------- NAV STYLES -------------- */
nav {
  height: 10vh;
  background-color: rgb(88, 140, 238);
  display: flex;
  align-items: center;
}

.nav-user-info-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 1rem;
  width: 33%;
}

.nav-user-display {
  color: white;
  font-size: 1.2rem;
}

.nav-sign-out-btn {
  border-radius: 5px;
  border: none;
  height: 1.5rem;
  width: 4.5rem;
  background: white;
}

.nav-timer {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 33%;
  height: 100%;
}

.nav-start-timer-btn {
  border: none;
  border-radius: 5px;
  height: 1.5rem;
  background: white;
}

.nav-num-characters-container {
  width: 33%;
  display: flex;
  justify-content: center;
  color: white;
}

.nav-num-characters-btn {
  color: white;
  background-color: #ee9f27;
  padding: 0.7rem;
  border-radius: 20px;
  font-size: 1.4rem;
  border: none;
  height: 3rem;
  width: 3rem;
}

.us-orange {
  color: #ee9f27;
}

/* -------------- MAIN STYLES -------------- */
.main-img-container {
  /* background: url('C:/Users/apurc/Documents/odinReact/photo-tagging/src/images/photo-tagging-image.jpg') no-repeat center center fixed; */
  height: 90vh;
  overflow: hidden;
}

.main-img {
  height: 100%;
}

.target-container {
  /* position: absolute; */
  width: 100px;
  height: 50px;
  /* background-color: blue; */
  /* transform: translate(-50%, -50%); */
}

.target-box {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border: dashed 5px black;
  border-radius: 20px;
  transform: translate(-50%, -50%);
}

.selection-dropdown {
  position: absolute;
  color: white;
  height: 5rem;
  width: 6rem;
  background-color: rgba(95, 93, 93, 0.8);
  margin-left: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
}

.left-side {
  margin-left: 0.7rem;
}

.right-side {
  margin-left: -6rem;
}

.character-title {
  padding-left: 0.5rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s background ease-in;
}

.character-title:hover {
  background: rgba(355, 355, 355, 0.5);
}

/* -------------- CHARACTERS DROPDOWN STYLES -------------- */
.dropdown-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: flex-end;
  margin: 0 auto;
  position: absolute;
  left: 40px;
  border-radius: 10px;
  gap: 20px;
  padding-top: 0.7rem;
}

.dropdown-character-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-right: 0.5rem;
}

.dropdown-character-img {
  width: 100px;
  height: 100px;
}